<!DOCTYPE HTML>
<html>
	<head>
		<title>GUI DEVELOPMENT</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="./static/bootstrapwork006.min.css">
		<link rel="stylesheet" href="./static/font-awesomework006.min.css">		
		<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
		<link rel="stylesheet" href="./static/magnific-popupwork006.css">
		<link rel="stylesheet" type="text/css" href="./static/main.css">
        <link href="./static/sunnycastsummer.ico" rel="icon">
    </head>

	<body>
		<!-- Wrapper -->
		<section class="head" id="header">
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<header class="header">
								<div class="inner">
									<!-- Logo -->
									<a href="#menu"class="nav-bars">
										<img src="./static/assets/images/nav_icon.svg" class="img-responsive" alt="Collapsable Navbar">
									</a>
									<a href="work006.html" class="logo">
										<span class="symbol"><img src="./static/assets/images/logo.png" alt="Title" /></span><span class="title">GUI Development</span>
									</a>
								</div>
							</header>
							<!-- Menu -->
							<nav id="menu">
								<h2>Menu</h2>
								<ul>
									<li><a href="work006.html">Home</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Main -->

		<section class="main-body">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<p class="drescription">
                           <br>* Highly motivated GUI developer </br>
						   <br>* Driven and permanently curious </br>
						   <br>* Specialized in fixing GUI issues and introducing improvements. </br>
						   <br>* UX in C# and Configuration parser in LUA </br>
						</p>
					</div>
				</div>
				<div class="tiles">
					<div class="row">
						<div class="col-md-6">
							
							
						</div>
						
					</div><br>
					<div class="row">
						<div class="col-md-4">
							<div class="a">
								<a href="#test-popup-3" class="open-popup-link">
									<img src="./static/assets/images/5GUIunsplash.jpg" class="img-responsive" alt="Responsive image">
									<div class="img-hover hand-parts">
										<div class="c-table">
											<div class="ct-cell">
												<h3 class="img-title">MainTainence Tool for Door Control Unit</h3>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div id="test-popup-3" class="white-popup mfp-hide">
							  	<div class="container-fluid">
									<div class="row">
										<div class="pop-up-color">
											<div class="col-md-8 p-l-0 p-r-0">
												<img src="./static/assets/images/Svvunsplash.jpg" class="img-responsive" alt="Responsive image">
											</div>
											<div class="col-md-4">
												<div>
													<h2 class="popup-head">Diagnostic Tool for ECU</h2>
												</div>
												<div>
													<p class="popup-parapraph">
                                                      <br>* Fault diagnostic information development in Maintainence Tool <br>
													  <br>* Diagnostic information (Inputs,Outputs,Relays) development in Maintainence Tool <br>
													  <br>* Firmware release information development in Maintainence Tool <br>
													</p>
												</div>
												<div class="pop-up-icon">
													<div class="row">
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="a">
								<a href="#test-popup-4" class="open-popup-link">
									<img src="./static/assets/images/Swunsplash.jpg" class="img-responsive" alt="Responsive image">
									<div class="img-hover table-with-phone">
										<div class="c-table">
											<div class="ct-cell">
												<h3 class="img-title">Windows Forms GUI in C#</h3>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div id="test-popup-4" class="white-popup mfp-hide">
							  	<div class="container-fluid">
									<div class="row">
										<div class="pop-up-color">
											<div class="col-md-8 p-l-0 p-r-0">
												<img src="./static/assets/images/5unsplash2.jpg" class="img-responsive" alt="Responsive image">
											</div>
											<div class="col-md-4">
												<div>
													<h2 class="popup-head">GUI in C# for Automotive ECU</h2>
												</div>
												<div>
													<p class="popup-parapraph">
														<br>* GUI tool with the .NET framework environment with C# language</br>
														<br>* String manipulation functions to extract the appropriate data received from serial port in order to
															visualize it on WinForm application developed in C# language</br>
	
														</p>
												</div>
												<div class="pop-up-icon">
													<div class="row">
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="a">
								<a href="#test-popup-5" class="open-popup-link">
									<img src="./static/assets/images/6munsplash.jpg" class="img-responsive" alt="Responsive image">
									<div class="img-hover orange-shoe">
										<div class="c-table">
											<div class="ct-cell">
												<h3 class="img-title">UX in C#</h3>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div id="test-popup-5" class="white-popup mfp-hide">
							  	<div class="container-fluid">
									<div class="row">
										<div class="pop-up-color">
											<div class="col-md-8 p-l-0 p-r-0">
												<img src="./static/assets/images/5GUIunsplash.jpg" class="img-responsive" alt="Responsive image">
											</div>
											<div class="col-md-4">
												<div>
													<h2 class="popup-head">Communication Tool on RS485 protocol in C#</h2>
												</div>
												<div>
													<p class="popup-parapraph">
													  <br>* Visualization of Firmware release information in Communication Tool <br>
													  <br>* Visualization of Firmware State information in Communication Tool  <br>
													  <br>* Visualization of Firmware Fault information in Communication Tool  <br>
													  <br>* RS 485 protocol implementation to communicate with VCU.(vehicle Control Unit)<br>
													  <br>* Interface Communication Testing between VCU and ECU.<br>
													</p>
												</div>
												<div class="pop-up-icon">
													<div class="row">
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><br>
					<div class="row">
						<div class="col-md-4">
							<div class="a">
								<a href="#test-popup-6" class="open-popup-link">
									<img src="./static/assets/images/3unsplash.jpg" class="img-responsive" alt="Responsive image">
									<div class="img-hover glass-shoes">
										<div class="c-table">
											<div class="ct-cell">
												<h3 class="img-title">INI File Parser in LUA</h3>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div id="test-popup-6" class="white-popup mfp-hide">
							  	<div class="container-fluid">
									<div class="row">
										<div class="pop-up-color">
											<div class="col-md-8 p-l-0 p-r-0">
												<img src="./static/assets/images/Swunsplash.jpg" class="img-responsive" alt="Responsive image">
											</div>
											<div class="col-md-4">
												<div>
													<h2 class="popup-head">Read write of INI file in Simulator </h2>
												</div>
												<div>
													<p class="popup-parapraph">
														<br>* Development of INI file read and write management in LUA <br>
														<br>* Visualization of INI file information on Automotive simulator based on request <br>
													</p>
												</div>
												<div class="pop-up-icon">
													<div class="row">
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
										
					</div>
				</div>
			</div>
		</section>

		<section class="contact">

		</section>

		
		<section class="footer">		
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-xs-9">
							<p class="right-color">&copy; Copyright 2016. All rights reserved </p>
						</div>

					</div>
				</div>											
			</footer>
		</section>

	<!-- Scripts -->

		<script src="./static/js/jquery-3.1.0.min.js"></script>
		<script src="./static/js/bootstrap.min.js"></script>
		<script src="./static/js/jquery.magnific-popup.min.js"></script>

		<script src="./static/js/script.js"></script>

		<!--  ===== Scroll to Top ====  -->
	    <script>
			if ($('#back-to-top').length) {
			    $('#back-to-top').on('click', function (e) {
			        e.preventDefault();
			        $('html,body').animate({
			            scrollTop: 0
			        }, 700);
			    });
			}
		</script>
		
	</body>
</html>